<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .container{
            background: cadetblue;
            text-align: center;
        }
        .logo{
            font-size: 45px;
            color: floralwhite;
            font-style: italic;
            padding-top: 182px;
        }
        .form-signin{
            font-size: 25px
        }
        #regbtn{
            font-style: italic;
            font-size: 25px;
        }
    </style>
</head>
<body class="container">
<div xmlns:th="http://www.thymeleaf.org">
    <div class="logo">RENT YOUR VEHICLE HERE</div>
    <form class="form-signin mt-xl-5" method="post" action="/login">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <div th:text="${param.error}" class="text-danger"></div>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <a href="/register" class="btn btn-block btn-light" id="regbtn">Register here</a>
</div>
</body>
</html>